* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: #fff
}


::-webkit-scrollbar {
  width: 8px; 
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #333; 
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #F4D03F;
  border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
